In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_excel('test.xlsx'))
df

    population
0       117313
1       104002
2       113038
3       101936
4        84560
5       113136
6        80740
7       100536
8       105052
9        87201
10       91986
11       94868
12       90745
13      102848
14       85927
15      112276
16      108637
17       96818
18       92307
19      114564
20      109714
21      108833
22      115295
23       89279
24       81720
25       89344
26      114426
27       90410
28       95118
29      113382

In [3]:
h=113000
sample_mean = round(df['population'].mean())

In [4]:
sample_mean

100200

In [5]:
pop_std = 15000

In [6]:
no_of_sample = df['population'].count()
no_of_sample

30

In [7]:
import math as m
stand_error = round(pop_std/m.sqrt(no_of_sample))

In [8]:
stand_error

2739

In [9]:
Z= (sample_mean - h )/stand_error

In [10]:

Z=round(Z,2)

In [11]:
Z

-4.67

In [12]:
import scipy.stats as stats

In [37]:
z=round((h-sample_mean)/pop_std,4)

In [38]:
z

0.8533